name: Push to subtree

on:
  workflow_call:
    inputs:
      ref: 
        type: string
        default: ${{ github.ref }}
        required: false
      ref_name: 
        type: string
        default: ${{ github.ref_name }}
        required: false
      remote:
        type: string
        required: true
        description: |
          The remote url of the subtree repository.
          eg: https://github.com/bonitasoft/bonita-studio.git 
      prefix: 
        type: string
        required: false
        default: community
        description: |
          The prefix used for the community subtree. 
          Default is 'community'
    secrets:
      BONITA_CI_PAT:
        required: true

jobs:
  push-to-subtree:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0
      - name: Split community subtree
        uses: claudiodekker/splitsh-action@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.BONITA_CI_PAT }}
        with:
          prefix: ${{ inputs.prefix }}
          remote: ${{ inputs.remote }}
          reference: ${{ inputs.ref_name }}
          as_tag: ${{ startsWith(inputs.ref, 'refs/tags/') }}
