name: Release Bonita connector

on:
  workflow_call:
    inputs:
      release-version:
        type: string
        description: 'The version to release.'
        required: true
      build-and-release-command-line:
        type: string
        description: The command-line used to build and publish the release
        required: false
        default: ./mvnw -ntp --batch-mode deploy -Pdeploy
      asset-path:
        type: string
        description: The path of the folder containing the built asset to attach to the release
        required: false
        default: ./target
      asset-name:
        type: string
        description: The name of the file containing the built asset to attach to the release
        required: false

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Configure Maven Settings
        uses: bonitasoft/maven-settings-action@v1
        with:
          keeper-secret-config: ${{ secrets.KSM_CONFIG }}

      - run: ${{ inputs.build-and-release-command-line }}

      - run: |
          if [ "$ASSET_NAME" == "" ]; then
            echo "name=${{ github.event.repository.name }}-${{ inputs.release-version }}-all.zip" >> $GITHUB_OUTPUT
          else
            echo "name=$(echo $ASSET_NAME)" >> $GITHUB_OUTPUT
          fi
        shell: bash
        env:
          ASSET_NAME: ${{ inputs.asset-name }}
        id: evaluate_asset_name

      - uses: ncipollo/release-action@v1
        with:
          tag: ${{ inputs.release-version }}
          name: Release ${{ inputs.release-version }}
          generateReleaseNotes: true
          artifacts: ${{ inputs.asset-path }}/${{ steps.evaluate_asset_name.outputs.name }}
